.mainmenu {
    font-size: 18px;
    text-align: center;
    color: #828282;
    font-weight: 200;
    justify-content: center;
    background: #F2F2F2;
    height: 100%;
    width: 94%;
}

.tobar {
    width: 85%;
    height: 25px;
    border: none;
    color: #000000;
    border-radius: 4px;
    padding: 3px;
}

.mainheader {
    padding-top: 20px;
    width: 100%;
    background: #E0E0E0;
    height: 50px;
    justify-content: center;
}

.maintext {
    font-size: 36px;
}

.maincontent {
    padding-top: 100px;
    width: 100%;
}

